spec/fixtures/rupm/RUCommon_V4_PM.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2020 (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common/1.1.2" xmlns:rucom="http://rupto.ru/standard/st96/common/1.1.2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rupto.ru/standard/st96/common/1.1.2" version="V4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="Common_V4_PM.xsd" namespace="http://www.wipo.int/standards/XMLSchema/ST96/Common/1.1.2" />
    <xsd:element name="ApplicationType" type="rucom:ApplicationTypeType">
        <xsd:annotation>
            <xsd:documentation>Способ подачи заявки</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:simpleType name="ApplicationTypeType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="Окно приема">
                <xsd:annotation>
                    <xsd:documentation>способ подачи окно приема - проставляет СУПД/ЦВ</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Почта">
                <xsd:annotation>
                    <xsd:documentation>способ подачи "Почта" проставляет СУПД/ЦВ</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Факс">
                <xsd:annotation>
                    <xsd:documentation>способ подачи "Факс" - проставляет СУПД/ЦВ</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ЛК ОнРП">
                <xsd:annotation>
                    <xsd:documentation>способ подачи через личный кабинет ГИС «Онлайн Роспатент» - проставляет ОнРП</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="СУАП">
                <xsd:annotation>
                    <xsd:documentation>способ подачи документа через ИС «СУАП» - проставляет ИС СУАП</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Оборот прав">
                <xsd:annotation>
                    <xsd:documentation>способ подачи через ГИС «Оборот прав» - проставляет Оборот прав</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ЕПГУ">
                <xsd:annotation>
                    <xsd:documentation>способ подачи ЕПГУ – проставляет ОнРП</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ЕАПВ">
                <xsd:annotation>
                    <xsd:documentation>проставляет ГИС НИС</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PCT-EDI">
                <xsd:annotation>
                    <xsd:documentation>способ подачи через PCT-EDI – проставляет ГИС НИС</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ePCT">
                <xsd:annotation>
                    <xsd:documentation>способ подачи через ePCT - проставляет ГИС НИС</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="ContractBag" type="rucom:ContractBagType">
        <xsd:annotation>
            <xsd:documentation>Информация о контракте</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContractBagType">
        <xsd:sequence>
            <xsd:element ref="rucom:Contract" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Contract" type="rucom:ContractType">
        <xsd:annotation>
            <xsd:documentation>Информация о контракте</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContractType">
        <xsd:sequence>
            <xsd:element ref="rucom:PayerIsFederalBudget" minOccurs="0" />
            <xsd:element name="Contractor" type="rucom:ContractorType" maxOccurs="unbounded" />
            <xsd:element name="Customer" type="rucom:CustomerType" maxOccurs="unbounded" />
            <xsd:element ref="rucom:ApplicantIs" minOccurs="0" />
            <xsd:element ref="rucom:ContractKind" minOccurs="0" />
            <xsd:element ref="rucom:ContractDetails" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute ref="com:sequenceNumber" />
    </xsd:complexType>
    <xsd:element name="PayerIsFederalBudget" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Объект создан за счет средств федерального бюджета</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContractorName" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Исполнитель работ</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CustomerName" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Заказчик работ</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ApplicantIs" type="rucom:ApplicantIsType">
        <xsd:annotation>
            <xsd:documentation>Информация о роли заявителя в контракте</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ApplicantIsType">
        <xsd:sequence>
            <xsd:element ref="rucom:ApplicantIsStateCust" minOccurs="0" />
            <xsd:element ref="rucom:ApplicantIsMunicipalCust" minOccurs="0" />
            <xsd:element ref="rucom:ApplicantIsContractor" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ApplicantIsStateCust" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: государственным заказчиком</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ApplicantIsMunicipalCust" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: муниципальным заказчиком</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ApplicantIsContractor" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: исполнителем работ</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContractKind" type="rucom:ContractKindType">
        <xsd:annotation>
            <xsd:documentation>Вид контракта</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContractKindType">
        <xsd:sequence>
            <xsd:element ref="rucom:UnderStateContract" minOccurs="0" />
            <xsd:element ref="rucom:UnderMunicipalContract" minOccurs="0" />
            <xsd:element ref="rucom:UnderSubsidyAgreement" minOccurs="0" />
            <xsd:element ref="rucom:UnderGrant" minOccurs="0" />
            <xsd:element ref="rucom:UnderStateTask" minOccurs="0" />
            <xsd:element ref="rucom:UnderInitiativeTask" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UnderStateContract" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: исполнителем работ по: государственному контракту</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UnderMunicipalContract" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: исполнителем работ по: муниципальному контракту</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UnderSubsidyAgreement" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: исполнителем работ по: соглашению о предоставлении субсидии</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UnderGrant" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: исполнителем работ по: гранту</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UnderStateTask" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: исполнителем работ по: государственному заданию</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UnderInitiativeTask" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Заявитель является: исполнителем работ по: инициативному заданию</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContractDetails" type="rucom:ContractDetailsType">
        <xsd:annotation>
            <xsd:documentation>Идентификационные данные контракта</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContractDetailsType">
        <xsd:sequence>
            <xsd:element ref="rucom:ContractNumber" />
            <xsd:element ref="rucom:ContractDate" />
            <xsd:element ref="rucom:OwnerRights" minOccurs="0" />
            <xsd:element name="ContractType" type="rucom:ContractTypeType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ContractNumber" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Номер контракта</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContractDate" type="com:DateType">
        <xsd:annotation>
            <xsd:documentation>Дата контракта</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OwnerRights" type="rucom:OwnerRightsType">
        <xsd:annotation>
            <xsd:documentation>Права на ОИС</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OwnerRightsType">
        <xsd:sequence>
            <xsd:element ref="rucom:OwnerIsStateCustOfRF" minOccurs="0" />
            <xsd:element ref="rucom:OwnerIsMunicipalCustOfRF" minOccurs="0" />
            <xsd:element ref="rucom:OwnerIsContractor" minOccurs="0" />
            <xsd:element ref="rucom:OtherOwner" minOccurs="0" />
            <xsd:element ref="rucom:OtherOwnerText" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OwnerIsStateCustOfRF" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Права на созданные результаты интеллектуальной деятельности принадлежат: Российской Федерации, от имени которой выступает государственный заказчик</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OwnerIsMunicipalCustOfRF" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Права на созданные результаты интеллектуальной деятельности принадлежат: Российской Федерации, от имени которой выступает государственный заказчик, и исполнителю совместно</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OwnerIsContractor" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Права на созданные результаты интеллектуальной деятельности принадлежат: исполнителю</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OtherOwner" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Права на созданные результаты интеллектуальной деятельности принадлежат: иное</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OtherOwnerText" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Права на созданные результаты интеллектуальной деятельности принадлежат: иное описание</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Payer" type="rucom:PayerType">
        <xsd:annotation>
            <xsd:documentation>Идентификаторы плательщика /держателя счёта, указываемые в документе, подтверждающем уплату пошлины</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PayerType">
        <xsd:sequence>
            <xsd:element ref="com:PartyIdentifier" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Model3DFormatCategory" type="rucom:Model3DFormatCategoryType">
        <xsd:annotation>
            <xsd:documentation>Тип файла (формат) трёхмерной модели</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:simpleType name="Model3DFormatCategoryType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="STEP">
                <xsd:annotation>
                    <xsd:documentation>STEP</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="STP">
                <xsd:annotation>
                    <xsd:documentation>STP</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="OBJ">
                <xsd:annotation>
                    <xsd:documentation>OBJ</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="STL">
                <xsd:annotation>
                    <xsd:documentation>STL</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="U3D">
                <xsd:annotation>
                    <xsd:documentation>U3D</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PRC">
                <xsd:annotation>
                    <xsd:documentation>PRC</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:attribute name="transactionCode">
        <xsd:annotation>
            <xsd:documentation>Тип записи о транзакции</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Registration">
                    <xsd:annotation>
                        <xsd:documentation>Первичная регистрация</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Change">
                    <xsd:annotation>
                        <xsd:documentation>Изменение данных об авторе, правообладателе, адресе и др.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Continuation">
                    <xsd:annotation>
                        <xsd:documentation>Возобновление действия</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Discontinuation">
                    <xsd:annotation>
                        <xsd:documentation>Прекращение действия</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="LegalStatus">
                    <xsd:annotation>
                        <xsd:documentation>Изменение статуса</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Licence">
                    <xsd:annotation>
                        <xsd:documentation>Вопросы лицензирования</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Correction">
                    <xsd:annotation>
                        <xsd:documentation>Коррекция технических ошибок</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Other">
                    <xsd:annotation>
                        <xsd:documentation>Прочие изменения</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
    <xsd:element name="NoRegistration" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Признак "не зарегистрирована" ("нет")</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Count" type="xsd:int">
        <xsd:annotation>
            <xsd:documentation>Количество (напр. всего авторов)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LegalEntityType">
        <xsd:annotation>
            <xsd:documentation>A container to hold the details about a legal entity</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="com:LegalEntityName" />
            <xsd:element ref="com:NationalLegalEntityCode" />
            <xsd:element ref="com:NationalityCode" minOccurs="0" />
            <xsd:element ref="com:IncorporationCountryCode" minOccurs="0" />
            <xsd:element ref="com:IncorporationState" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TerritoryLimitationGarIndicator" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Indicates whether the licence is for a limitation of territory (GAR)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TerritoryLimitationGarBag" type="rucom:TerritoryLimitationGarBagType">
        <xsd:annotation>
            <xsd:documentation>Collection of the GAR codes</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TerritoryLimitationGarBagType">
        <xsd:sequence>
            <xsd:element ref="rucom:Gar" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Gar" type="rucom:GarType">
        <xsd:annotation>
            <xsd:documentation>GAR</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GarType">
        <xsd:sequence>
            <xsd:element ref="rucom:GarVersion" minOccurs="0" />
            <xsd:element ref="rucom:GarCode" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GarVersion" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Version of GAR</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GarCode" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>GAR reestr number</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RUUsageMethodIndicator" type="xsd:boolean">
        <xsd:annotation>
            <xsd:documentation>Указан ли метод использования</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RUUsageMethodBag" type="rucom:RUUsageMethodBagType">
        <xsd:annotation>
            <xsd:documentation>Способы использования</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RUUsageMethodBagType">
        <xsd:annotation>
            <xsd:documentation>Способ использования</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="rucom:RUUsageMethod" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RUUsageMethod" type="rucom:RUUsageMethodType">
        <xsd:annotation>
            <xsd:documentation>Способ использования</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:simpleType name="RUUsageMethodType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UM-1">
                <xsd:annotation>
                    <xsd:documentation>Размещение на документации, связанной с введением товаров в гражданский оборот</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-2">
                <xsd:annotation>
                    <xsd:documentation>Размещение на товарах, в том числе на этикетках, упаковках товаров, которые производятся, предлагаются к продаже, продаются, демонстрируются на выставках и ярмарках или иным образом вводятся в гражданский оборот на территории Российской Федерации либо хранятся или перевозятся с этой целью, либо ввозятся на территорию Российской Федерации</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-3">
                <xsd:annotation>
                    <xsd:documentation>Размещение при выполнении работ, оказании услуг</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-4">
                <xsd:annotation>
                    <xsd:documentation>Размещение в предложениях о продаже товаров, о выполнении работ, об оказании услуг, а также в объявлениях, на вывесках и в рекламе</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-5">
                <xsd:annotation>
                    <xsd:documentation>Размещение в сети "Интернет", в том числе в доменном имени и при других способах адресации</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-6">
                <xsd:annotation>
                    <xsd:documentation>Изготовление, продажа (распространение) продукции</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-7">
                <xsd:annotation>
                    <xsd:documentation>Продвижение (рекламирование) продукции</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-8">
                <xsd:annotation>
                    <xsd:documentation>Применение (использование) продукции</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-9">
                <xsd:annotation>
                    <xsd:documentation>Ввоз на территорию РФ продукции, хранение продукции, при применении (использовании) которой используется изобретение/промышленный образец/ полезная модель на территории РФ</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-10">
                <xsd:annotation>
                    <xsd:documentation>Воспроизведение топологии в целом или частично путем включения в интегральную микросхему либо иным образом, за исключением воспроизведения только той части топологии, которая не является оригинальной</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM-11">
                <xsd:annotation>
                    <xsd:documentation>Ввоз на территорию Российской Федерации, продажа и иное введение в гражданский оборот топологии, или интегральной микросхемы, в которую включена эта топология, или изделия, включающего в себя такую интегральную микросхему.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="RUSublicenceDescription" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Разрешение на сублицензию</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RUSublicenceCategory" type="rucom:RUSublicenceCategoryType">
        <xsd:annotation>
            <xsd:documentation>Вид сублицензии</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:simpleType name="RUSublicenceCategoryType">
        <xsd:annotation>
            <xsd:documentation>Вид сублицензии</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Unable">
                <xsd:annotation>
                    <xsd:documentation>
                        Не вправе предоставлять право использования товарного знака/патента
                        по сублицензионным договорам, договорам коммерческой субконцессии
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Able">
                <xsd:annotation>
                    <xsd:documentation>
                        Вправе предоставлять право использования товарного знака/патента
                        по сублицензионным договорам, договорам коммерческой субконцессии,
                        без дополнительного согласия правообладателя
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="With written permission">
                <xsd:annotation>
                    <xsd:documentation>
                        Вправе предоставлять право использования товарного знака/патента
                        по сублицензионным договорам, договорам коммерческой субконцессии,
                        при письменном согласии правообладателя
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:attribute name="schemaVersion" type="xsd:token">
        <xsd:annotation>
            <xsd:documentation>Версия согласованной схемы хранения данных</xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="docKind" type="rucom:DocKindType">
        <xsd:annotation>
            <xsd:documentation>Вид документа XML</xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:simpleType name="DocKindType">
        <xsd:annotation>
            <xsd:documentation>Вид документа XML</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="registration actual">
                <xsd:annotation>
                    <xsd:documentation>Актуальное состояние при первичной регистрации</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="registration">
                <xsd:annotation>
                    <xsd:documentation>Первичная регистрация</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="notice actual">
                <xsd:annotation>
                    <xsd:documentation>Актуальное состояние после изменения</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="notice">
                <xsd:annotation>
                    <xsd:documentation>Изменение</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ContractTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="governmentContract" />
            <xsd:enumeration value="municipalContract" />
            <xsd:enumeration value="other" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ContractorType">
        <xsd:sequence>
            <xsd:element ref="rucom:ContractorName" />
            <xsd:element ref="com:IncorporationState" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomerType">
        <xsd:sequence>
            <xsd:element ref="rucom:CustomerName" />
            <xsd:element ref="com:IncorporationState" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransferDateIntReg" type="com:DateType">
        <xsd:annotation>
            <xsd:documentation>Дата перевода международной заявки на национальную фазу</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CorrectionBag" type="rucom:CorrectionBagType" />
    <xsd:complexType name="CorrectionBagType">
        <xsd:sequence>
            <xsd:element name="Correction" type="rucom:CorrectionType" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CorrectionType">
        <xsd:sequence>
            <xsd:element ref="rucom:CorrectionIdentifier" minOccurs="0" />
            <xsd:element ref="com:RecordIdentifier" minOccurs="0" />
            <xsd:element ref="com:RecordEventDate" minOccurs="0" />
            <xsd:element ref="rucom:IncorrectData" minOccurs="0" />
            <xsd:element ref="rucom:CorrectData">
                <xsd:annotation>
                    <xsd:documentation>Исправления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="rucom:PatentNumber" minOccurs="0" />
            <xsd:element ref="rucom:GazetteNumber" minOccurs="0" />
            <xsd:element ref="rucom:GazetteDate" minOccurs="0" />
            <xsd:element ref="rucom:Utility3dModelQuantity" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CorrectionIdentifier" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Положение данных</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IncorrectData" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Данные, которые следует исправить</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CorrectData" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Исправления</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RequestType" type="rucom:RequestTypeType" />
    <xsd:simpleType name="RequestTypeType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="Registration" />
            <xsd:enumeration value="Exclusive Right" />
            <xsd:enumeration value="Alteration" />
            <xsd:enumeration value="Conversion" />
            <xsd:enumeration value="Correction" />
            <xsd:enumeration value="Cancellation" />
            <xsd:enumeration value="Applicant Participation" />
            <xsd:enumeration value="Paper Certificate Issuance" />
            <xsd:enumeration value="Duplicate Certificate Issuance" />
            <xsd:enumeration value="Restoration of Terms" />
            <xsd:enumeration value="Reimbursement" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="PatentNumber" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Номер патента</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GazetteNumber" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Номер официального бюллетеня</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GazetteDate" type="com:DateType">
        <xsd:annotation>
            <xsd:documentation>Дата официального бюллетеня</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Utility3dModelQuantity" type="xsd:integer">
        <xsd:annotation>
            <xsd:documentation>Количество трёхмерных моделей полезной модели</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>